/* custom.scss */

/*-- scss:defaults --*/
// Base document colors

/*-- scss:rules --*/

// Custom color classes for specific text
.ctl {
  color: #21b2a3; // Your hfh_TL color i.e. teal
}

.cdb {
  color: #03497b; // Your hfh_TL color i.e. dark blue
}

.cdb {
  color: #177bb9; // Your hfh_TL color i.e. light blue
}

.crd {
  color: #D32F2F; // A standard web-safe red
}

